# Core functionality - changes here should be rare!
/src/app.py                   @lincon-tech
/src/backend/database.py      @lincon-tech
/src/backend/routers/auth.py  @lincon-tech

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lincon-tech
